<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>LoveWeb</display-name>
	
	<filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>cn.itcast.web.filter.CharacterEncodingFilter</filter-class>
  </filter>
	
	<filter>
  	<filter-name>LoginAndRegisterFilter</filter-name>
  	<filter-class>cn.itcast.web.filter.LoginAndRegisterFilter</filter-class>
  </filter>
  

  <filter-mapping>	
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>HtmlFilter</filter-name>
  	<filter-class>cn.itcast.web.filter.HtmlFilter</filter-class>
  </filter>
  
  <filter-mapping>	
  	<filter-name>HtmlFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
	
  <servlet>
    <servlet-name>CharacterEncodingFilter</servlet-name>
    <servlet-class>cn.itcast.web.filter.CharacterEncodingFilter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HtmlFilter</servlet-name>
    <servlet-class>cn.itcast.web.filter.HtmlFilter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageFont</servlet-name>
    <servlet-class>cn.itcast.web.UI.ImageFont</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexUIServlet</servlet-name>
    <servlet-class>cn.itcast.web.UI.IndexUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>cn.itcast.web.UI.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SixinMoreServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.SixinMoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>cn.itcast.web.controller.test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagersServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.ManagersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AgreeServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.AgreeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterUIServlet</servlet-name>
    <servlet-class>cn.itcast.web.UI.RegisterUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchoolUIServlet</servlet-name>
    <servlet-class>cn.itcast.web.UI.SchoolUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActivityServlet</servlet-name>
    <servlet-class>cn.itcast.web.schoolservlet.ActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addActivityServlet</servlet-name>
    <servlet-class>cn.itcast.web.schoolservlet.addActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.EmailServlet</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>SixinServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.SixinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>joinServlet</servlet-name>
    <servlet-class>cn.itcast.web.schoolservlet.joinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetialActivityServlet</servlet-name>
    <servlet-class>cn.itcast.web.schoolservlet.DetailActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OldActivityServlet</servlet-name>
    <servlet-class>cn.itcast.web.schoolservlet.OldActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.ResponseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendEmailServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.SendEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailUIServlet</servlet-name>
    <servlet-class>cn.itcast.web.UI.EmailUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindInfoServlet</servlet-name>
    <servlet-class>cn.itcast.web.userservlet.FindInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VActivityServlet</servlet-name>
    <servlet-class>cn.itcast.web.volunteerservlet.VActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VolunteerUIServlet</servlet-name>
    <servlet-class>cn.itcast.web.UI.VolunteerUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addVActivityServlet</servlet-name>
    <servlet-class>cn.itcast.web.volunteerservlet.addVActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OldVActivityServlet</servlet-name>
    <servlet-class>cn.itcast.web.volunteerservlet.OldVActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>joinVServlet</servlet-name>
    <servlet-class>cn.itcast.web.volunteerservlet.joinVServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JoinVActServlet</servlet-name>
    <servlet-class>cn.itcast.web.volunteerservlet.JoinVActServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailVActivityServlet</servlet-name>
    <servlet-class>cn.itcast.web.volunteerservlet.DetailVActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LostServlet</servlet-name>
    <servlet-class>cn.itcast.web.lostservlet.LostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LostUIServlet</servlet-name>
    <servlet-class>cn.itcast.web.UI.LostUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addLostServlet</servlet-name>
    <servlet-class>cn.itcast.web.lostservlet.addLostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailLostServlet</servlet-name>
    <servlet-class>cn.itcast.web.lostservlet.DetailLostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>cn.itcast.web.userservlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserActivityServlet</servlet-name>
    <servlet-class>cn.itcast.web.userservlet.UserActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>cn.itcast.web.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhoneIndexUIServlet</servlet-name>
    <servlet-class>cn.itcast.web.UI.PhoneIndexUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhoneJoinActServlet</servlet-name>
    <servlet-class>cn.itcast.web.schoolservlet.PhoneJoinActServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhoneAddLostServlet</servlet-name>
    <servlet-class>cn.itcast.web.lostservlet.PhoneAddLostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerUIServlet</servlet-name>
    <servlet-class>cn.itcast.web.UI.ManagerUIServlet</servlet-class>
  </servlet>


























  
















  <servlet-mapping>
    <servlet-name>CharacterEncodingFilter</servlet-name>
    <url-pattern>/servlet/CharacterEncodingFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HtmlFilter</servlet-name>
    <url-pattern>/servlet/HtmlFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageFont</servlet-name>
    <url-pattern>/servlet/ImageFont</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexUIServlet</servlet-name>
    <url-pattern>/servlet/IndexUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/servlet/anagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SixinMoreServlet</servlet-name>
    <url-pattern>/servlet/SixinMoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SixinServlet</servlet-name>
    <url-pattern>/servlet/SixinServlet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/servlet/EmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/servlet/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagersServlet</servlet-name>
    <url-pattern>/servlet/ManagersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AgreeServlet</servlet-name>
    <url-pattern>/servlet/AgreeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUIServlet</servlet-name>
    <url-pattern>/servlet/RegisterUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolUIServlet</servlet-name>
    <url-pattern>/servlet/SchoolUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityServlet</servlet-name>
    <url-pattern>/servlet/ActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addActivityServlet</servlet-name>
    <url-pattern>/servlet/addActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>joinServlet</servlet-name>
    <url-pattern>/servlet/joinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetialActivityServlet</servlet-name>
    <url-pattern>/servlet/DetailActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OldActivityServlet</servlet-name>
    <url-pattern>/servlet/OldActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/servlet/ResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/servlet/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>
    <url-pattern>/servlet/SendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailUIServlet</servlet-name>
    <url-pattern>/servlet/EmailUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindInfoServlet</servlet-name>
    <url-pattern>/servlet/FindInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VActivityServlet</servlet-name>
    <url-pattern>/servlet/VActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VolunteerUIServlet</servlet-name>
    <url-pattern>/servlet/VolunteerUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addVActivityServlet</servlet-name>
    <url-pattern>/servlet/addVActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OldVActivityServlet</servlet-name>
    <url-pattern>/servlet/OldVActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>joinVServlet</servlet-name>
    <url-pattern>/servlet/joinVServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JoinVActServlet</servlet-name>
    <url-pattern>/servlet/JoinVActServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailVActivityServlet</servlet-name>
    <url-pattern>/servlet/DetailVActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LostServlet</servlet-name>
    <url-pattern>/servlet/LostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LostUIServlet</servlet-name>
    <url-pattern>/servlet/LostUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addLostServlet</servlet-name>
    <url-pattern>/servlet/addLostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailLostServlet</servlet-name>
    <url-pattern>/servlet/DetailLostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserActivityServlet</servlet-name>
    <url-pattern>/servlet/UserActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhoneIndexUIServlet</servlet-name>
    <url-pattern>/servlet/PhoneIndexUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhoneJoinActServlet</servlet-name>
    <url-pattern>/servlet/PhoneJoinActServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhoneAddLostServlet</servlet-name>
    <url-pattern>/servlet/PhoneAddLostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerUIServlet</servlet-name>
    <url-pattern>/servlet/ManagerUIServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>default.html</welcome-file>
  	<welcome-file>default.htm</welcome-file>
  	<welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
