.email{
	float:left;
	height:500px;
	width:100%;
	background:#FFF;
}
.list_friends{
	float:left;
	width:770px;
	height:450px;
	margin-left:10px;
	box-shadow:0 4px 10px rgba(0, 0, 0, .35);
}
.zhengwen{
	float:right;
	padding-top:-20px;
}
.send{

	color:#4c4c4c;
	background:#ffffb0
}