/*发起活动*/
#content1{
	width:100%;
	height:900px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
	background:#FFF;
	}
.start{
	float:left;
	width:100%;
	height:65px;
	line-height:65px;
	text-align:center;
	color:#4c4c4c;
	font-size:22px;
	font-weight:bold;

	border-bottom:1px #999999 solid; }
#list{
	float:left;
	width:98%;
	height:800px;
	font-size:18px;
	color:#333333;
	margin-top:10px;
	margin-top:10px;
	}
/*.jieshao{
	padding-bottom:440px;}*/
.left{
	text-align:right;
	}
.submit{
	float:left;
	width:120px;
	height:36px;
	margin-left:300px;
	margin-top:50px;
	text-align:center;
	line-height:36px;
	background:#96c51d;
	font-size:18px;
	color:#ffffff;}
